<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Department Bean -->
    <bean id="department" class="com.tss.model.Department">
        <constructor-arg name="name" value="SE"></constructor-arg>
    </bean>

    <!-- Employee Bean with constructor injection -->
    <bean id="employee" class="com.tss.model.Employee" autowire="constructor">
        <constructor-arg name="empName" value="Mahek"></constructor-arg>
        <!-- department will be autowired by type -->
    </bean>

</beans>
